.inputNumber {
    border: 2px solid var(--color-white);
    border-radius: 5px;
    &:hover {
        border-color: var(--color-red);
    }
}


@media (max-width: 575px) {
   .searchForm {
    width: 100%;
    margin-bottom: 10px;
   }
}